.app {
  flex-basis: 700px;
  margin: 20px;
  padding: 40px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 30px black;
}

html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

#root {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("money2.jpg");
  background-size: cover;
  background-position: center;
}